{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="my-container">
        </div>
    </header>

    <section id="password_reset">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>{% trans "Sign Out" %}</h1>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>{% trans 'Are you sure you want to sign out?' %}</p>

                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="submit" class="btn btn-success btn-lg">{% trans "Sign Out" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
