{% extends 'main/base.html' %}
{% load i18n staticfiles %}

{% block content %}
    <!-- Banner -->
    <header>
        <div class="container">
            <div class="row">
                {% if current_banner %}
                    {% for banner in current_banner %}
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <div class="row">
                                    <p class="my-banner text-left"><em>{% trans "Next lecture:" %}</em></p>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-3">
                                        {% if banner.image %}
                                            <img src="{{ banner.image.url }}" class="img-responsive" alt="Imagem do(a) palestrante {{ banner.speaker }}"/>
                                        {% else %}
                                            <img src="{% static "images/person.png" %}" class="img-responsive" alt="Imagem do(a) palestrante"/>
                                        {% endif %}
                                    </div>
                                    <div class="intro-text">
                                        <span class="name">{{ banner.title }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="intro-text text-justify">
                                        <span class="skills">
                                            <strong>{% trans "Speaker" %}:</strong> {{ banner.speaker }}<br>
                                            <strong>{% trans "Date / Time" %}:</strong> {{ banner.date_time }}<br>
                                        </span><br>
                                        <p class="my-banner">
                                            <strong>{% trans "Curriculum" %}:</strong>
                                            {{ banner.resume_summary }}
                                            <a href="{{ banner.get_absolute_url }}">{% trans "Read more" %}</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                {% if user.is_authenticated %}
                                    {% if survey_url %}
                                        <blockquote class="quote-box-warning">
                                        <h4 class="text-center">{% trans "Survey" %}</h4>
                                        <p class="quote-text-warning text-justify">
                                            <a href="{{ survey_url }}" target="_blank">Por favor, clique aqui e preencha seu formulário de usuário da rede Amparo. Seus dados não serão compartilhados.</a>
                                        </p>
                                        </blockquote>
                                    {% else %}
                                        <blockquote class="quote-box">
                                        <h4 class="text-center">{% trans "Rede AMPARO" %}</h4>
                                        <p class="quote-text text-justify">
                                            Obrigado por participar da nossa rede. Juntos podemos identificar os principais desafios para a doença de Parkinson no Brasil.
                                        </p>
                                        </blockquote>
                                    {% endif %}
                                {% else %}
                                    <blockquote class="quote-box">
                                    <h4 class="text-center">{% trans "Join us!" %}</h4>
                                    <p class="quote-text text-justify">
                                        <a href="/accounts/signup/">Faça seu cadastro para participar desta rede, seja você profissional, estudante, familiar, cuidador ou pessoa com doença de Parkinson.</a>
                                    </p>
                                    </blockquote>
                                {% endif %}
                                <blockquote class="quote-box">
                                    <h4 class="text-center">{% trans "Schedule" %}</h4>
                                    <p class="quote-text text-justify">
                                        <a href="/blog">Acompanhe a agenda de palestras com especialistas e participe ao vivo com perguntas, discussões de casos e sugestões.</a>
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-lg-12">
                        <div class="intro-text text-center">
                            <span class="name">{% trans "No banner found!" %}</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="projeto">
        <div class="container">
            {% if home_page %}
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>{{ home_page.title }}</h2>
                        <hr class="star-light">
                    </div>
                </div>
                <div class="row">
                    {{ home_page.body|safe }}
                </div>
            {% else %}
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br>
                        <h2>OPS...</h2>
                        <br><br>
                        <p>{% trans "No home page found!" %}</p>
                    </div>
                </div>
            {% endif %}
            <br>
        </div>
    </section>
{% endblock content %}