{% load i18n staticfiles project_tags menu_tags solo_tags %}

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    {% get_solo 'configurations.ProjectLogo' as image %}
    <ul class="nav navbar-nav navbar-right" {% if image.logo %}style="padding-top: 25px"{% endif %}>

        <!-- Links from pages  -->
        {% get_submenu as submenu %}
        {% if submenu %}
            {% get_pages as pages %}
                <li>
                    <a data-toggle="dropdown" href="/"><span style="font-size: 0.85em;" class="glyphicon glyphicon-star"></span>&nbsp;{% trans "The project" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    {% for page in pages %}
                        {% if page.submenu %}
                            <li><a href="/pages/{{ page.slug }}">{% if page.link_title %}{{ page.link_title }}{% else %}{{ page.title }}{% endif %}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
                {% for page in pages %}
                    {% if not page.submenu and not page.home_page %}
                        <li class="page-scroll"><a href="/pages/{{ page.slug }}"><span style="font-size: 0.85em;" class="{{ page.glyphicon }}"></span>&nbsp;{% if page.link_title %}{{ page.link_title }}{% else %}{{ page.title }}{% endif %}</a></li>
                    {% endif %}
                {% endfor %}
        {% else %}
            {% get_pages as pages %}
            {% if pages %}
                {% for page in pages %}
                    {% if page.home_page %}
                        <li class="page-scroll"><a href="/"><span style="font-size: 0.85em;" class="{{ page.glyphicon }}"></span>&nbsp;{% if page.link_title %}{{ page.link_title }}{% else %}{{ page.title }}{% endif %}</a></li>
                    {% else %}
                        <li class="page-scroll"><a href="/pages/{{ page.slug }}"><span style="font-size: 0.85em;" class="{{ page.glyphicon }}"></span>&nbsp;{% if page.link_title %}{{ page.link_title }}{% else %}{{ page.title }}{% endif %}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}

        <!-- Link to blog, if it is used  -->
        {% get_posts as posts %}
        {% if posts %}
            <li class="page-scroll"><a href="{% url 'view_blog_index' %}"><span style="font-size: 0.85em;" class="glyphicon glyphicon-calendar"></span>&nbsp;{% trans "Schedule" %}</a></li>
        {% endif %}

        <!-- Link to contact form  -->
        <li class="page-scroll"><a href="{% url 'contact_form' %}"><span style="font-size: 0.85em;" class="glyphicon glyphicon-phone"></span>&nbsp;{% trans "Contact" %}</a></li>

        <!-- Login or logout link  -->
        {% if user.is_authenticated %}
            <li>
                <a data-toggle="dropdown" href="/"><span style="font-size: 0.85em;" class="glyphicon glyphicon-user"></span>&nbsp;{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="page-scroll"><a href="/accounts/password/change/">{% trans "Change password" %}</a></li>
                    {% if perms.user.view_list_of_users %}
                        <li><a href="/users">{% trans "Number of users" %}</a></li>
                    {% endif %}
                    {% if perms.user.send_email_to_users %}
                        <li><a href="/users/send_email">{% trans "Send email" %}</a></li>
                    {% endif %}
                    <li class="page-scroll"><a href="/accounts/logout/">{% trans "Logout" %}</a></li>
                </ul>
            </li>
        {% else %}
            <li class="page-scroll"><a href="/accounts/login/"><span style="font-size: 0.85em;" class="glyphicon glyphicon-user"></span>&nbsp;{% trans "Login" %}</a></li>
        {% endif %}

        <!-- Link to language switcher -->
{#        <li>#}
{#            {% get_current_language as LANGUAGE_CODE %}#}
{#            {% get_available_languages as LANGUAGES %}#}
{#            {% get_language_info_list for LANGUAGES as languages %}#}
{##}
{#            {% for language in languages %}#}
{#                {% if language.code != LANGUAGE_CODE %}#}
{#                    <a href="/language/{{ language.code }}?next={{ request.get_full_path }}">#}
{#                        {% if language.code == 'pt-br' %}#}
{#                            <i class="glyphicon bfh-flag-BR"></i>#}
{#                        {% elif language.code == 'en' %}#}
{#                            <i class="glyphicon bfh-flag-GB"></i>#}
{#                        {% endif %}#}
{#                        {{ language.code }}#}
{#                    </a>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </li>#}

        <!-- Uncomment these lines to have a "Search" -->
{#        <li>#}
{#            <form role="form" method="get" class="navbar-form navbar-right" action="{% url 'blog_search' %}">{% csrf_token %}#}
{#                <input id="search_box" name="search_box" type="text" placeholder={% trans "Search" %} class="form-control">#}
{#                <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>#}
{#            </form>#}
{#        </li>#}
    </ul>
</div>
