{% extends 'main/base.html' %}
{% load i18n embed_video_tags %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="my-container">
        </div>
    </header>

    <!-- Content -->
    <section id="programacao">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{% trans "Schedule" %}</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>

        <div class="container">
            {% if next_lectures %}
                <h3 class="text-center">{% trans "Next lectures" %}</h3><br>
                {% for post in next_lectures %}
                    <div class="row text-justify">
                        <div class="col-md-12 col-lg-12">
                            <h4>{{ post.title }}</h4>
                        </div>
                        <div class="col-sm-12">
                            {% if post.publish %}
                                <p><strong>{% trans "Target audience" %}:</strong>  {% trans "People with Parkinson's disease, family members, caregivers, students and professionals." %} </p>
                            {% else %}
                                <p><strong>{% trans "Target audience" %}:</strong>  {% trans "Professionals and students" %} </p>
                            {% endif %}
                            <p><strong>{% trans "Date / Time" %}:</strong> {{ post.date_time }} ({% trans "Brasília time zone" %})</p>
                            <p><strong>{% trans "Speaker" %}:</strong> {{ post.speaker }} {% if post.resume_speaker %}<a href="#modal_post_{{ post.id }}" class="portfolio-link" data-toggle="modal"><span class="formatacao_fonte_cv">[{% trans "Curriculum" %}]</span></a>{% endif %}</p>
                            {% if post.affiliation %}
                                <p><strong>{% trans "Institutional affiliation of the speaker" %}:</strong> {{ post.affiliation }}</p>
                            {% endif %}
                            {% if post.to_be_held and post.link_to_iptv %}
                                {% if not post.publish %}
                                    {% if request.user.is_authenticated and request.user.type_of_person.name == 'Profissional' or request.user.type_of_person.name == 'Estudante' %}
                                        <p><strong>{% trans "Live streaming by IPTV" %}:</strong> <a href="{{ post.link_to_iptv }}" target="_blank">{{ post.link_to_iptv }}</a></p>
                                    {% endif %}
                                {% else %}
                                    <p><strong>{% trans "Live streaming by IPTV" %}:</strong> <a href="{{ post.link_to_iptv }}" target="_blank">{{ post.link_to_iptv }}</a></p>
                                {% endif %}
                            {% endif %}
                            {% if post.to_be_held and post.link_to_google %}
                                {% if not post.publish %}
                                    {% if request.user.is_authenticated and request.user.type_of_person.name == 'Profissional' or request.user.type_of_person.name == 'Estudante' %}
                                        <p><strong>{% trans "Live streaming by Youtube" %}:</strong> <a href="{{ post.link_to_google }}" target="_blank">{{ post.link_to_google }}</a></p>
                                    {% endif %}
                                {% else %}
                                    <p><strong>{% trans "Live streaming by Youtube" %}:</strong> <a href="{{ post.link_to_google }}" target="_blank">{{ post.link_to_google }}</a></p>
                                {% endif %}
                            {% endif %}
                        </div>

                        <!--Modal do item Currículo do evento-->
                        <div class="modal fade" id="modal_post_{{ post.id }}" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">{% trans "Curriculum" %}</h4>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p class="formatacao_fonte_cv">{{ post.resume_speaker }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
        <br>

        <div class="container">
            {% if posts %}
                <h3 class="text-center">{% trans "Past lectures" %}</h3><br>
                {% for post in posts %}
                    <div class="row text-justify">
                        <div class="col-md-12 col-lg-12">
                            <h4>{{ post.title }}</h4>
                        </div>
                        {% if not post.publish and post.show_video and post.videos.all and request.user.is_authenticated and request.user.type_of_person.name == 'Profissional' or request.user.type_of_person.name == 'Estudante' %}
                            <div class="col-md-6 col-sm-12">
                                {% for item in post.videos.all %}
                                    <p class="responsive-video">{% video item.video %}</p><br>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div>
                                    {% if post.publish %}
                                        <p><strong>{% trans "Target audience" %}:</strong>  {% trans "People with Parkinson's disease, family members, caregivers, students and professionals." %} </p>
                                    {% else %}
                                        <p><strong>{% trans "Target audience" %}:</strong>  {% trans "Professionals and students" %} </p>
                                    {% endif %}
                                    <p><strong>{% trans "Date / Time" %}:</strong> {{ post.date_time }} ({% trans "Brasília time zone" %})</p>
                                    <p><strong>{% trans "Speaker" %}:</strong> {{ post.speaker }} {% if post.resume_speaker %}<a href="#modal_post_{{ post.id }}" class="portfolio-link" data-toggle="modal"><span class="formatacao_fonte_cv">[{% trans "Curriculum" %}]</span></a>{% endif %}</p>
                                    {% if post.affiliation %}
                                        <p><strong>{% trans "Institutional affiliation of the speaker" %}:</strong> {{ post.affiliation }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% elif post.publish and post.show_video and post.videos.all %}
                            <div class="col-md-6 col-sm-12">
                                {% for item in post.videos.all %}
                                    <p class="responsive-video">{% video item.video %}</p><br>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div>
                                    {% if post.publish %}
                                        <p><strong>{% trans "Target audience" %}:</strong>  {% trans "People with Parkinson's disease, family members, caregivers, students and professionals." %} </p>
                                    {% else %}
                                        <p><strong>{% trans "Target audience" %}:</strong>  {% trans "Professionals and students" %} </p>
                                    {% endif %}
                                    <p><strong>{% trans "Date / Time" %}:</strong> {{ post.date_time }} ({% trans "Brasília time zone" %})</p>
                                    <p><strong>{% trans "Speaker" %}:</strong> {{ post.speaker }} {% if post.resume_speaker %}<a href="#modal_post_{{ post.id }}" class="portfolio-link" data-toggle="modal"><span class="formatacao_fonte_cv">[{% trans "Curriculum" %}]</span></a>{% endif %}</p>
                                    {% if post.affiliation %}
                                        <p><strong>{% trans "Institutional affiliation of the speaker" %}:</strong> {{ post.affiliation }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="col-sm-12">
                                {% if post.publish %}
                                    <p><strong>{% trans "Target audience" %}:</strong>  {% trans "People with Parkinson's disease, family members, caregivers, students and professionals." %} </p>
                                {% else %}
                                    <p><strong>{% trans "Target audience" %}:</strong>  {% trans "Professionals and students" %} </p>
                                {% endif %}
                                <p><strong>{% trans "Date / Time" %}:</strong> {{ post.date_time }} ({% trans "Brasília time zone" %})</p>
                                <p><strong>{% trans "Speaker" %}:</strong> {{ post.speaker }} {% if post.resume_speaker %}<a href="#modal_post_{{ post.id }}" class="portfolio-link" data-toggle="modal"><span class="formatacao_fonte_cv">[{% trans "Curriculum" %}]</span></a>{% endif %}</p>
                                {% if post.affiliation %}
                                    <p><strong>{% trans "Institutional affiliation of the speaker" %}:</strong> {{ post.affiliation }}</p>
                                {% endif %}
                                {% if post.to_be_held and post.link_to_iptv %}
                                    {% if not post.publish %}
                                        {% if request.user.is_authenticated and request.user.type_of_person.name == 'Profissional' or request.user.type_of_person.name == 'Estudante' %}
                                            <p><strong>{% trans "Live streaming by IPTV" %}:</strong> <a href="{{ post.link_to_iptv }}" target="_blank">{{ post.link_to_iptv }}</a></p>
                                        {% endif %}
                                    {% else %}
                                        <p><strong>{% trans "Live streaming by IPTV" %}:</strong> <a href="{{ post.link_to_iptv }}" target="_blank">{{ post.link_to_iptv }}</a></p>
                                    {% endif %}
                                {% endif %}
                                {% if post.to_be_held and post.link_to_google %}
                                    {% if not post.publish %}
                                        {% if request.user.is_authenticated and request.user.type_of_person.name == 'Profissional' or request.user.type_of_person.name == 'Estudante' %}
                                            <p><strong>{% trans "Live streaming by Youtube" %}:</strong> <a href="{{ post.link_to_google }}" target="_blank">{{ post.link_to_google }}</a></p>
                                        {% endif %}
                                    {% else %}
                                        <p><strong>{% trans "Live streaming by Youtube" %}:</strong> <a href="{{ post.link_to_google }}" target="_blank">{{ post.link_to_google }}</a></p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}

                        <!--Modal do item Currículo do evento-->
                        <div class="modal fade" id="modal_post_{{ post.id }}" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">{% trans "Curriculum" %}</h4>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <p class="formatacao_fonte_cv">{{ post.resume_speaker }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>{% trans "No schedule found!" %}</p>
                    </div>
                </div>
            {% endif %}
        </div>

        {#  Paginação #}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-uppercase">
                    {% if posts.paginator.num_pages != 1 %}
                        <ul class="pager">
                            <li>{% trans "page" %} {{ posts.number }} {% trans "of" %} {{ posts.paginator.num_pages }}</li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-uppercase">
                    <ul class="pager" style="margin-top: -50px">
                        {% if posts.has_previous %}
                            <li class="previous"><a href="?page={{ posts.previous_page_number }}"><span aria-hidden="true">&larr;</span> {% trans "previous" %}</a></li>
                        {% endif %}

                        {% if posts.has_next %}
                            <li class="next"><a href="?page={{ posts.next_page_number }}">{% trans "next" %} <span aria-hidden="true">&rarr;</span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}