{% extends 'main/base.html' %}
{% load i18n embed_video_tags %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="my-container">
        </div>
    </header>

    <!-- Content -->
    <section id="programacao">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{% trans "Schedule" %}</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
        {% if posts %}
            {% for post in posts %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul>
                                <h3 class="text-center">{{ post.title }}</h3><br>
                                {% if post.publish %}
                                    <p><strong>{% trans "Target audience" %}:</strong>  {% trans "People with Parkinson's disease, family members, caregivers, students and professionals." %} </p>
                                {% else %}
                                    <p><strong>{% trans "Target audience" %}:</strong>  {% trans "Professionals and students" %} </p>
                                {% endif %}
                                <p><strong>{% trans "Date / Time" %}:</strong> {{ post.date_time }} ({% trans "Brasília time zone" %})</p>
                                <p><strong>{% trans "Speaker" %}:</strong> {{ post.speaker }}</p>
                                {% if post.affiliation %}
                                    <p class="text-justify"><strong>{% trans "Institutional affiliation of the speaker" %}:</strong> {{ post.affiliation }}</p>
                                {% endif %}
                                <p><i class="glyphicon glyphicon-plus-sign"></i><a href="{{ post.get_absolute_url }}"> {% trans "Read more" %}</a></p>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <hr>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>{% trans "No schedule found!" %}</p>
                    </div>
                </div>
            </div>
        {% endif %}

        {#  Paginação #}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-uppercase">
                    {% if posts.paginator.num_pages != 1 %}
                        <ul class="pager">
                            <li>{% trans "page" %} {{ posts.number }} {% trans "of" %} {{ posts.paginator.num_pages }}</li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-uppercase">
                    <ul class="pager" style="margin-top: -50px">
                        {% if posts.has_previous %}
                            <li class="previous"><a href="?page={{ posts.previous_page_number }}"><span aria-hidden="true">&larr;</span> {% trans "previous" %}</a></li>
                        {% endif %}

                        {% if posts.has_next %}
                            <li class="next"><a href="?page={{ posts.next_page_number }}">{% trans "next" %} <span aria-hidden="true">&rarr;</span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}