{% extends 'main/base.html' %}
{% load i18n embed_video_tags %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="my-container">
        </div>
    </header>

    <section id="search">
        {% if posts %}
            {% for post in posts %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <ul>
                                <h3>{{ post.title }}</h3><br>
                                {% if post.video %}
                                    <div class="col-lg-5">
                                        <p class="responsive-video">
                                           {% video post.video %}
                                        </p>
                                    </div>
                                    <div class="col-lg-7 text-justify">
                                        <p class="text-justify">{{ post.body|truncatewords:80|safe }}</p>
                                        <p class="text-left"><i class="glyphicon glyphicon-plus-sign"></i><a href="{{ post.get_absolute_url }}"> {% trans "Read more" %}</a></p>
                                    </div>
                                    <br>
                                {% else %}
                                    <p class="text-justify">{{ post.body|truncatewords:80|safe }}</p>
                                    <p class="text-left"><i class="glyphicon glyphicon-plus-sign"></i><a href="{{ post.get_absolute_url }}"> {% trans "Read more" %}</a></p>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <hr>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br>
                        <h2>OPS...</h2>
                        <br><br>
                        <p>{% trans "Sorry, but nothing matched your search terms." %}</p>
                        <br><br><br><br>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
