{% extends 'main/base.html' %}
{% load embed_video_tags i18n %}

{% block head_title %}{{ post.title }}{% endblock %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="my-container">
        </div>
    </header>

    <!-- Content -->
    <section id="ver-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center">{{ post.title }}</h3><br>
                    <p><strong>{% trans "Date / Time" %}:</strong> {{ post.date_time }} ({% trans "Brasília time zone" %})</p>
                    <p><strong>{% trans "Speaker" %}:</strong> {{ post.speaker }}</p>
                    <p class="text-justify"><strong>{% trans "Curriculum" %}:</strong> {{ post.resume_speaker }}</p>
                    <p><strong>{% trans "Moderator" %}:</strong> {{ post.moderator }}</p>
                    {% if post.link_to_iptv %}
                        {% if not post.publish %}
                            {% if request.user.is_authenticated and request.user.type_of_person.name == 'Profissional' or request.user.type_of_person.name == 'Estudante' %}
                                <p><strong>{% trans "Live streaming by IPTV" %}:</strong> <a href="{{ post.link_to_iptv }}" target="_blank">{{ post.link_to_iptv }}</a></p>
                            {% endif %}
                        {% else %}
                            <p><strong>{% trans "Live streaming by IPTV" %}:</strong> <a href="{{ post.link_to_iptv }}" target="_blank">{{ post.link_to_iptv }}</a></p>
                        {% endif %}
                    {% endif %}

                    {% if post.link_to_google %}
                        {% if not post.publish %}
                            {% if request.user.is_authenticated and request.user.type_of_person.name == 'Profissional' or request.user.type_of_person.name == 'Estudante' %}
                                <p><strong>{% trans "Live streaming by Google" %}:</strong> <a href="{{ post.link_to_google }}" target="_blank">{{ post.link_to_google }}</a></p>
                            {% endif %}
                        {% else %}
                            <p><strong>{% trans "Live streaming by Google" %}:</strong> <a href="{{ post.link_to_google }}" target="_blank">{{ post.link_to_google }}</a></p>
                        {% endif %}
                    {% endif %}

                    {% if post.videos.all %}
                        {% if post.videos.all|length == 1 %}
                            <p><strong>{% trans "Video" %}:</strong></p>
                        {% else %}
                            <p><strong>{% trans "Videos" %}:</strong></p>
                        {% endif %}
                        {% for item in post.videos.all %}
                            <p class="text-center responsive-video">{% video item.video %}</p><br>
                        {% endfor %}
                    {% endif %}
                    <br>
                    <button type="button" class="btn btn-success btn-lg" onclick="window.history.back()">
                        <span aria-hidden="true">&larr;</span> {% trans "Back" %}
                    </button>

                    <br><br>
                </div>
            </div>
        </div>
    </section>
{% endblock %}