{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="my-container">
        </div>
    </header>

    <!-- Content -->
    <section id="list_of_users">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{% trans "Number of users" %}</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p><strong>{% trans "Total number of users" %}:</strong> {{ total }}</p>
                    <p><strong>{% trans "Professionals" %}:</strong> {{ professionals }}</p>
                    <p><strong>{% trans "Students" %}:</strong> {{ students }}</p>
                    <p><strong>{% trans "Family members or caregivers" %}:</strong> {{ caregivers }}</p>
                    <p><strong>{% trans "People with Parkinson's disease" %}:</strong> {{ patients }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
