{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="my-container">
        </div>
    </header>

    <!-- Content -->
    <section id="list_of_users">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{% trans "List of users" %}</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p><strong>{% trans "Total number of users" %}:</strong> {{ total }}</p>
                    <p><strong>{% trans "Number of professionals" %}:</strong> {{ professionals|length }}</p>
                    <p><strong>{% trans "Number of users (without professionals)" %}:</strong> {{ others|length }}</p>
{#                    <p>#}
{#                        <strong>{% trans "List of emails from professionals" %}:</strong><br>#}
{#                        {% for person in professionals %}#}
{#                            {% if person.email %}{{ person.email }},&nbsp;{% endif %}#}
{#                        {% endfor %}#}
{#                    </p>#}
{#                    <p>#}
{#                        <strong>{% trans "List of emails from caregivers, students and people with Parkinson's disease" %}:</strong><br>#}
{#                        {% for person in others %}#}
{#                            {% if person.email %}{{ person.email }},&nbsp;{% endif %}#}
{#                        {% endfor %}#}
{#                    </p>#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
