{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="my-container">
        </div>
    </header>

    <!-- Content -->
    <section id="send_email">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{% trans "Send email" %}</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="col-sm-6 col-lg-6">
                        <label>{% trans "Target audience" %}</label>
                        <select class="form-control" name="target" id="id_target">
                            <option value="0">----------</option>
                            <option value="1">{% trans "Professionals and students" %}</option>
                            <option value="2">{% trans "All" %}</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label>{% trans "Subject" %}</label>
                        <input class="form-control" type="text" name="subject" value="">
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <label style="margin-top: 10px">{% trans "Message" %}</label>
                        <textarea class="form-control" rows="5" name="message"></textarea>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <label style="margin-top: 10px">{% trans "Attachment" %}</label>
                        <input class="file-upload" type="file" name="attachment">
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <button type="submit" class="btn btn-success btn-lg" style="margin-top: 20px">{% trans "Send" %}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}