{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="my-container">
        </div>
    </header>

    <section id="404_error">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>{% trans "OPS! Error 404" %}</h1>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <p>
                        {% blocktrans %}Sorry, but the page you are looking for was either not found or does not exist. <br/>
                        Try refreshing the page or click the button below to go back to the Homepage. {% endblocktrans %}
                    </p>
                    <br>
                    <a href="/" class="btn btn-large btn-success"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;{% trans "Take me home" %}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}